TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Controllers/obj/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Interfaces/bin/Debug/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Interfaces/obj/Debug/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Servises/bin/Debug/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Interfaces/obj/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Servises/obj/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Types/bin/Debug/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Types/obj/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataServices.interfaces/bin/Debug/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataServices.interfaces/obj/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataServices/bin/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataServices/obj/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataTypes/bin/
TestDTOsApplication.Core/Implementation/ExternalService/TestDTOsApplication.ExternalServices.DataTypes/obj/
TestDTOsApplication.Core/TestDTOsApplication.Core/bin/
TestDTOsApplication.Core/TestDTOsApplication.Core/obj/
TestDTOsApplication.Core/Implementation/Common/TestDTOsApplication.Common.Controllers/bin/
